 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>My Story</h2>
                    <hr class="anchor-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <p>
                    When I was growing up and saw Mary Poppins, my first thought was not “I wish she was my nanny.” My first thought was “I want to be her.”  As a little girl I always chose to be the mother figure when playing house, and my doll collection grew so big I now have seventeen American Girl Dolls all in their original boxes in my garage. I have always felt that taking care of others has been my calling.                    As soon as I was old enough I started babysitting for a family two doors down from mine, and before I knew it I was babysitting for almost every family in the neighborhood.  Those families helped shape my foundational beliefs about raising children.
                  </p>
                  <p>
                    After graduating high school, I was unclear about the path I wanted to take. I knew I wanted to help others in some way. At first I thought about becoming a pediatric nurse, then I dabbled in midwifery before settling on becoming a preschool teacher. While working on my early childhood education degree, I volunteered part time at the preschool center on campus.  I loved the organized chaos of the large class, but I felt I was missing something. Aside from a few minutes in the morning and afternoon, I never got to connect with the children’s parents.
                  </p>
                  <p>
                    Working along side parents is such a joy to me because I get to support the entire family unit, fostering their core beliefs and guiding their children to become happy, healthy, emotionally competent, confident, and independent.  After seeing an ad on TV for the craiglists of nanny services I realized I could work with families on a more personable basis.
                  </p>
                  <p>
                    Once I was hired at my first nanny job, I realized this was the profession I was meant to be in.  I love working together with parents to create an individualized routine based on the children’s tempo that is developmentally appropriate.  I love taking children on outings that give them hands on, real world, learning experience. I love trying to recreate pinterest activities and observing how the children play.
                  </p>
                  <p>I am so passionate about this field and I am always itching to learn more about child development and how to be a better caregiver. My qualifications include:
                  </p>
                  <ul>
                    <li>Over twenty four child development units from San Diego City College</li>
                    <li>Certified in Pediatric CPR, First Aid & AED usage</li>
                    <li>Trained Newborn Care Specialist through the Newborn Care Training Academy </li>
                    <li>Certificate in managing multiples, a training through Kimberly Bepler at ABC Doula Services </li>
                    <li>Certificate in sleep training techniques, a training through Natalie Willes Infant & Toddler Sleep Consultant </li>
                    <li>Currently working on my certification in becoming a Positive Discipline Parent Educator through the Positive Discipline Association </li>
                    <li>Five years of full time nanny experience </li>
                    <li>Experience with twins </li>
                    <li>Knowledgeable in managing reflux </li>
                    <li>Engaging in physical therapy exercises </li>
                    <li>Working on speech therapy </li>
                    <li>Proficient in baby wearing </li>
                    <li>Semi fluent in American Sign Language </li>
                    <li>Comfortable with families from all different types of backgrounds</li>
                    <li>Able to keep an organized home </li>
                  </ul>            
                </div>
            </div>
    </section>
